.range-div {
  display: flex;
  flex-direction: column;
  height: 50px !important;
  align-items: baseline !important;
}
.range-child-div {
  padding-left: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: calc(100% - 18px);
}
.range-number-field {
  position: absolute;
  right: 0px;
  width: 44px;
}
