body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  position: relative;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  font-size: xx-small;
  color: white;
  opacity: 0.5;
}

.field {
  font-size: 12px;
  height: 34px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: solid 1px #e6e3e3;
  border-radius: 0px;
  padding-left: 4px;
  padding-right: 4px;
  align-items: center;
}

select {
  border: none;
  font-size: inherit;
}

input {
  border: none;
  text-align: end;
}

td > input {
  text-align: start;
}

table {
  border-spacing: 0px;
}

th {
  font-weight: normal;
}
