.effect {
  display: flex;
  flex-direction: column;
}
.effect-titleDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.effect-title {
}
.effect-remove {
  width: 18px;
  height: 18px;
  background-image: url(../../assets/delete-button.png);
  background-size: cover;
  cursor: pointer;
  margin-right: 4px;
}
.effect-properties {
  padding-left: 18px;
  display: flex;
  flex-direction: column;
}
.effect-addModuleDiv {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  cursor: pointer;
}
.effect-addModule {
  height: 80%;
  aspect-ratio: 1;
  background-image: url(../../assets/round-add-button.png);
  background-size: contain;
  margin-right: 4px;
}
