.effectsConfigurationPanel {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 1px;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.effectsConfigurationPanel::-webkit-scrollbar {
  display: none;
}

.effectsConfigurationPanel-titleEffects {
}
.effectsConfigurationPanel-addDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.effectsConfigurationPanel-add {
  height: 18px;
  width: 18px;
  background-image: url(../../assets/round-add-button.png);
  background-size: contain;
  margin-right: 4px;
}
.effectsConfigurationPanel-footer {
  height: 30vh;
}
