.effectsConfigurationPanel {
  width: 200px;
  overflow: auto;
  padding-left: 4px;
  padding-right: 4px;
}
.effectsConfigurationPanel-titleEffects {
}
.effectsConfigurationPanel-addDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.effectsConfigurationPanel-add {
  height: 18px;
  width: 18px;
  background-image: url(../../assets/round-add-button.png);
  background-size: contain;
  margin-right: 4px;
}
