.module {
  background-color: green;
}
.module-title-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.module-title {
}
.module-typeDropdown {
  
}
.module-remove {
  margin-right: 4px;
}
.module-properties {
  padding-left: 18px;
}
